# Name: SIMcheck
# Author: Graeme Ball
# Version: 0.9.9-SNAPSHOT
# Date: May 2015
# Requires: ImageJ 

Plugins>SIMcheck>, " Run SIMcheck", SIMcheck.SIMcheck_
Plugins>SIMcheck>Raw Data, "Channel Intensity Profiles", SIMcheck.Raw_IntensityProfiles
Plugins>SIMcheck>Raw Data, "Fourier Projections", SIMcheck.Raw_FourierProjections
Plugins>SIMcheck>Raw Data, "Motion & Illumination Variation", SIMcheck.Raw_MotionAndIllumVar
Plugins>SIMcheck>Raw Data, "Modulation Contrast", SIMcheck.Raw_ModContrast
Plugins>SIMcheck>Reconstructed Data, "Intensity Histogram", SIMcheck.Rec_IntensityHistogram
Plugins>SIMcheck>Reconstructed Data, "Sperical Aberration Mismatch", SIMcheck.Rec_SAMismatch
Plugins>SIMcheck>Reconstructed Data, "Fourier Plots", SIMcheck.Rec_FourierPlots
Plugins>SIMcheck>Reconstructed Data, "Modulation Contrast Map", SIMcheck.Rec_ModContrastMap
Plugins>SIMcheck>System Calibration, "Illumination Pattern Focus", SIMcheck.Cal_PatternFocus
Plugins>SIMcheck>System Calibration, "Illumination Phase Steps", SIMcheck.Cal_PhaseSteps
Plugins>SIMcheck>Utilities, "Format Converter", SIMcheck.Util_FormatConverter
Plugins>SIMcheck>Utilities, "Raw SI Data to Pseudo-Widefield", SIMcheck.Util_SItoPseudoWidefield
Plugins>SIMcheck>Utilities, "Threshold and 16-bit Conversion", SIMcheck.Util_RescaleTo16bit
Plugins>SIMcheck>Utilities, "Stack FFT", SIMcheck.Util_StackFFT2D
Image>Lookup Tables, "SIMcheck MCNR", MCNR.lut
Image>Lookup Tables, "SIMcheck Fourier", SIMcheckFourier.lut
