# Name: SIMcheck
# Author: Graeme Ball
# Version: 0.9.5-SNAPSHOT
# Date: 12/08/2014
# Requires: ImageJ 
# Generate the jar file using: "jar cvfM SIMcheck_.jar *"

Plugins>SIMcheck>, "Run SIMcheck", SIMcheck.SIMcheck_
Plugins>SIMcheck>raw data, "Channel Intensity Profiles", SIMcheck.Raw_IntensityProfiles
Plugins>SIMcheck>raw data, "Fourier Projections", SIMcheck.Raw_FourierProjections
Plugins>SIMcheck>raw data, "Motion & Angle Difference", SIMcheck.Raw_MotionAndAngleDiff
Plugins>SIMcheck>raw data, "Modulation Contrast", SIMcheck.Raw_ModContrast
Plugins>SIMcheck>reconstructed data, "Reconstructed Intensity Histogram", SIMcheck.Rec_IntensityHistogram
Plugins>SIMcheck>reconstructed data, "Fourier Plots", SIMcheck.Rec_FourierPlots
Plugins>SIMcheck>reconstructed data, "Modulation Contrast Map", SIMcheck.Rec_ModContrastMap
Plugins>SIMcheck>system calibration, "SI Pattern Focus", SIMcheck.Cal_PatternFocus
Plugins>SIMcheck>system calibration, "SI Phase Steps", SIMcheck.Cal_PhaseSteps
Plugins>SIMcheck>system calibration, "Sperical Aberration Mismatch", SIMcheck.Cal_SAMismatch
Plugins>SIMcheck>utilities, "Format Converter", SIMcheck.Util_FormatConverter
Plugins>SIMcheck>utilities, "Raw SI Data to Pseudo-Widefield", SIMcheck.Util_SItoPseudoWidefield
Plugins>SIMcheck>utilities, "Threshold and 16-bit conversion", SIMcheck.Util_RescaleTo16bit
Plugins>SIMcheck>utilities, "Stack FFT (2D)", SIMcheck.Util_StackFFT2D
Image>Lookup Tables, "SIMcheck MCNR", MCNR.lut
Image>Lookup Tables, "SIMcheck Fourier", SIMcheckFourier.lut
